<!-- Header -->
<div class="container-fluid bg-dark">
  <h1 id="app-title" class="text-center pt-3 pb-5" style="color:white">{{title}}</h1>
</div>
<!-- Form-->
<div class="container">
  <div class="row">
    <div class="col pt-3">
      <h3 class="text-white-50">Url Service</h3>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">http://</span>
        </div>
        <input type="text" class="form-control" placeholder="Service Name" aria-label="ServiceName"
          aria-describedby="addon-wrapping">
      </div>


    </div>

  </div>

  <div class="row pt-4">
    <div class="col-3"></div>
    <div class="col-2">
      <h4 class="py-auto text-white-50">Login</h4>
    </div>
    <div class="col-7">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">copy
          </span>
          <span class="input-group-text">show</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-3"></div>
    <div class="col-2">
      <h4 class="py-auto text-white-50">Pass</h4>
    </div>
    <div class="col-7">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">copy
          </span>
          <span class="input-group-text">show</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">
      <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark">Cancel</button>
        <button type="button" class="btn btn-dark">List All</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-primary">Edit</button>
        <button (click)="onClickSaveItem()" type="button" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
