<!-- Header -->
<div class="container-fluid bg-dark">
  <h1 class="text-center p-3" style="color:white">Password Manager</h1>
</div>
<!-- Form-->
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-black-50">Url Service</h3>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">http://</span>
        </div>
        <input type="text" class="form-control" placeholder="Service Name" aria-label="ServiceName"
          aria-describedby="addon-wrapping">
      </div>


    </div>

  </div>

  <div class="row mt-3">
    <div class="col-2">
      <h4 class="py-auto text-black-50">Login</h4>
    </div>
    <div class="col-10">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">copy
          </span>
          <span class="input-group-text">show</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <h4 class="py-auto text-black-50">Pass</h4>
    </div>
    <div class="col-10">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">copy
          </span>
          <span class="input-group-text">show</span>
        </div>
      </div>
    </div>

    <div class="row mt-3 mx-auto">

      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark w-25">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-dark">List All</button>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-success">Save</button>
      </div>

    </div>
  </div>




</div>
