<!-- Header -->
<div class="container-fluid bg-dark">
  <h1 class="text-center p-3" style="color:white">Password Manager</h1>
</div>
<!-- Form-->
<div class="container">
  <div class="row">
<div class="col">
  <h3 class="text-black-50">Url Service</h3>
  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">http://</span>
    </div>
    <input type="text" class="form-control" placeholder="Service Name" aria-label="ServiceName"
      aria-describedby="addon-wrapping">
  </div>


</div>
    
  </div>
  
  <div class="row my-3">
    <div class="col-2">
      <h4 class="py-auto text-black-50">Login</h4>
    </div>
    <div class="col-10">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <div class="input-group-append">
          <span class="input-group-text">copy
          </span>
          <span class="input-group-text">show</span>
        </div>
      </div>
    </div>
  </div>

</div>
